<img class="col-es-4 col-8"src="assets/illustrations/undraw_team_spirit.svg" loading="lazy" alt="Our team">
<section class="page-wrapper">
    <h1>About Us</h1>
    <h3>Mission</h3>
    <p>
        Denov is a tech company that provides many digital solutions to Los Santos to make every	  
        day problems easier. we are more making the distance short for those who wants to sell their	    
        businesses/houses/vehicles and for those who are hiring and looking for a job, or making your	      
        trucking job more easy.
    </p>
    <p>
        We also are looking to provide more service to Los Santos as CryptoCurrency that you can mine,	      
        Online bank in your pocket that you can let you gain interests or take out loans, while being able	      
        to gamble online.
    </p>
    <h3>Founder</h3>
    <p>
        Miloslav Lavrenty has founded Denov in 2012 in Paris, Miloslav lavrenty was very keen on the evolution of Denov. 
        Denov helped in the development of the casino and real estate business in Paris, as well as it's multi-billion investment
        in telecom and digital solutions in paris.
    </p>
    <p>
        Miloslav has arrived Los Santos in 2019 as he saw the need for digital solutions for various issues that face Los Santos
        citzens daily. Miloslav decided to open a branch for Denov to start it's business in Los Santos. Miloslav is working to
        collaborate with other companies as BTG and dealerships around LS to help them for their digital transformation.
    </p>
</section>
