img{
    width: 100%;
    margin-bottom: 10px;
}
mat-card {
    margin: 0 5px 15px 5px;
    background-color: #F0F0F9;
    border-radius: 0;
}
mat-card-content{
    margin-bottom: 0
}
h3{
    padding: 10px;
}