<mat-sidenav-container class="sidenav-container" hasBackdrop="false">
  <mat-sidenav #snav opened="true"[mode]="isDesktop ? 'side' : 'over' ">
    <mat-nav-list>

      <mat-list>

        <mat-list-item [routerLink]="['/home']">
          <mat-icon mat-list-icon>home</mat-icon>
          <h4 mat-line>Home</h4>
        </mat-list-item>



      </mat-list>

      <mat-divider></mat-divider>


      <mat-list>
        <h3 mat-subheader class="overline">Denov Bank</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
          <h4 mat-line>Wallet</h4>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>contactless</mat-icon>
          <h4 mat-line>Transaction request</h4>
        </mat-list-item>

        <mat-list-item [routerLink]="['/banking','plans']">
          <mat-icon mat-list-icon>
            assignment</mat-icon>
          <h4 mat-line>Saving & Loan Plans</h4>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>account_balance</mat-icon>
          <h4 mat-line>Open account</h4>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>payments</mat-icon>
          <h4 mat-line>Request Loan</h4>
        </mat-list-item>

        <mat-list-item [routerLink]="['/banking','wire-transfer']">
          <mat-icon mat-list-icon>
            input</mat-icon>
          <h4 mat-line>Wire Tranfer</h4>
        </mat-list-item>

        <mat-list-item [routerLink]="['/banking','terms-conditions']">
          <mat-icon mat-list-icon>
            list_alt</mat-icon>
          <h4 mat-line>Banking Terms & Condition</h4>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list>
        <h3 mat-subheader class="overline">Denov Market</h3>
        <mat-list-item [routerLink]="['/vehicle']">
          <mat-icon mat-list-icon>book</mat-icon>
          <h4 mat-line>Vehicle price guide</h4>
        </mat-list-item>
        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>
            monetization_on
          </mat-icon>
          <h4 mat-line>
            Sell your asset
          </h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>
            storefront
          </mat-icon>
          <h4 mat-line>
            Assets forsale
          </h4>
          <span class="soon-badge">soon</span>

        </mat-list-item>


      </mat-list>

      <mat-divider></mat-divider>
      <mat-list>
        <h3 mat-subheader class="overline">Denov E-Services</h3>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>casino</mat-icon>
          <h4 mat-line>Gambling</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>business_center</mat-icon>
          <h4 mat-line>Office Managment</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>campaign</mat-icon>
          <h4 mat-line>Advertise</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>
      <mat-list>
        <h3 mat-subheader class="overline">Denov Trucking</h3>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>settings</mat-icon>
          <h4 mat-line>Depot Portal</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>local_shipping</mat-icon>
          <h4 mat-line>Request a shipment</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>payment</mat-icon>
          <h4 mat-line>Bonus request</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>description</mat-icon>
          <h4 mat-line>Trucker Application</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>

      </mat-list>


      <mat-divider></mat-divider>
      <mat-list>
        <h3 mat-subheader class="overline">Denov D-currency</h3>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>store</mat-icon>
          <h4 mat-line>Buy D-Currency</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>
        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>verified_user</mat-icon>
          <h4 mat-line>Mine D-Currency</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list>
        <h3 mat-subheader class="overline">Denov Info</h3>
        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>show_chart</mat-icon>
          <h4 mat-line>Invest in Denov</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>
        <mat-list-item [routerLink]="['/news']">
          <mat-icon mat-list-icon>local_libraryk</mat-icon>
          <h4 mat-line>News</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>work</mat-icon>
          <h4 mat-line>Careers</h4>
        </mat-list-item>
        <mat-list-item [routerLink]="['/info','aboutus']">
          <mat-icon mat-list-icon >info</mat-icon>
          <h4 mat-line>About Us</h4>
        </mat-list-item>
        <mat-list-item [routerLink]="['/info','contactus']">
          <mat-icon mat-list-icon>phone</mat-icon>
          <h4 mat-line>Contact Us</h4>
        </mat-list-item>
      </mat-list>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="page-content">
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
