<h3>Denov Banking Plans</h3>
<h4>Savings</h4>
<p>
    With saving account you would be able to get interest on the money you deposit,
    the interest rates varies according to the selected plan.
</p>
<h5>Standard</h5>
<mat-accordion [@.disabled]="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Daily
        </mat-expansion-panel-header>
        Interest: 0.2% Daily.
        <mat-divider></mat-divider>
        BreakFees: 1000$.
        <mat-divider></mat-divider>
        Duration: 1 Day.
        <mat-divider></mat-divider>
        Compound: No.
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Weekly
        </mat-expansion-panel-header>
        Interest: 1.75% Weekly.
        <mat-divider></mat-divider>
        BreakFees: 1000$.
        <mat-divider></mat-divider>
        Duration: 1 Week.
        <mat-divider></mat-divider>
        Compound: No.
    </mat-expansion-panel>
    <mat-expansion-panel>
         <mat-expansion-panel-header>
            Monthly
        </mat-expansion-panel-header>
        Interest: 7.5% Monthly.
        <mat-divider></mat-divider>
        BreakFees: 1000$.
        <mat-divider></mat-divider>
        Duration: 1 Month.
        <mat-divider></mat-divider>
        Compound: Yes.
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
             Half-Yearly
        </mat-expansion-panel-header>
        Interest: 50% Half-Yealy.
        <mat-divider></mat-divider>
        BreakFees: 1000$.
        <mat-divider></mat-divider>
        Duration: 6 Months.
        <mat-divider></mat-divider>
        Compound: Yes.
    </mat-expansion-panel>
</mat-accordion>
<h5>Special</h5>
<p>
    These packages provide higher interest gains and bonus on at the end of its period.
    they have more few conditions and are tied to certain durations. However they
    are available if you are going to deposit 100,000$ or more.
</p>
<mat-accordion [@.disabled]="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            One Month
        </mat-expansion-panel-header>
        Interest: 10%.
        <mat-divider></mat-divider>
        BreakFees: 1500$.
        <mat-divider></mat-divider>
        Duration: 1 Day.
        <mat-divider></mat-divider>
        Compound: No.
        <mat-divider></mat-divider>
        Bonus: 1000$.
        <mat-divider></mat-divider>
        Breaking deduction: 1.5%.
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Quarter Year.
        </mat-expansion-panel-header>
        Interest: 20%.
        <mat-divider></mat-divider>
        BreakFees: 2000$.
        <mat-divider></mat-divider>
        Duration: 3 Monthes.
        <mat-divider></mat-divider>
        Compound: No.
        <mat-divider></mat-divider>
        Bonus: 1500$.
        <mat-divider></mat-divider>
        Breaking deduction: 2.5%.
    </mat-expansion-panel>
    <mat-expansion-panel>
         <mat-expansion-panel-header>
            Double Quarter Year.
        </mat-expansion-panel-header>
        Interest: 60%.
        <mat-divider></mat-divider>
        BreakFees: 2000$.
        <mat-divider></mat-divider>
        Duration: 1 Month.
        <mat-divider></mat-divider>
        Compound: Yes.
        <mat-divider></mat-divider>
        Bonus: 3000$.
        <mat-divider></mat-divider>
        Breaking deduction: 5%.
    </mat-expansion-panel>
</mat-accordion>
<h4>Loans</h4>
<p>
    Loans will only be considered when the client owns an asset or more which worth 150% of the loan
    in addition to the interest, and he will have to sign on a selling contract which will only be valid
    if he failed to pay at least 2 weekly payments, which will automatically take the papers to the court
    to take over the asset, and if the sold the asset before the loan is over, he will be sued and loan will
    be considered to be broken. These conditions match all the loans except the Mortgage loan.</p>
<mat-accordion [@.disabled]="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                0$ to 79,999$ (Mortgage)
            </mat-expansion-panel-header>
            Interest Weekly: 10%.
            <mat-divider></mat-divider>
            Interest Daily: 1.6%
            <mat-divider></mat-divider>
            <p>
                It will be considered as a mortgage loan, which means in my business strategy the use have mortgage an asset or part of his balance which worth the loan + interests,
                Vehicles will be calculated as 65% of its retail value. Which means the player will do sign on the loan contract and a Selling contract but with the right of using the
                asset till the loan is over.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                80,000$ to 249,999$
            </mat-expansion-panel-header>
            Interest Weekly: 7.5%.
            <mat-divider></mat-divider>
            Interest Daily: 1.2%.
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                250,000$ to 999,000$
            </mat-expansion-panel-header>
            Interest Weekly: 5.0%.
            <mat-divider></mat-divider>
            Interest Daily: 1%.
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                More than 999,999$
            </mat-expansion-panel-header>
            Interest Weekly: 3.5%.
            <mat-divider></mat-divider>
            Interest Daily: 0.5%.
        </mat-expansion-panel>
    </mat-accordion>
<p>
    <i>*All the savings Plans follow the 6th term as you lose the interest if you break the plan,
        however they aren't added until the end of the duration.
    </i>
</p>
<p>
    <i>
        *All the special saving plans follow the 7th term as they have deduction percentage.
    </i>
</p>        