<h2>Publish News</h2>
<form *ngIf="!isLoading"[formGroup]="new" (ngSubmit)="onSubmit()" class="row">
    <mat-form-field class="col-12">
        <input matInput type="text" placeholder="Title" formControlName="title" required>
    </mat-form-field>
    <mat-form-field class="col-12">
            <textarea matInput placeholder="Body" formControlName="body" required></textarea>
    </mat-form-field>
    <button mat-stroked-button type="submit" [disabled]="!news.valid">Publish</button>
</form>
<div *ngIf="isLoading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>