<!-- <section>
  <div class="wheel col-12 green" #wheel>
    0
  </div>

  <div class="row">
    <div class="col-6">
      <mat-card class="money-card money-card--left" matRipple>
        <mat-card-content>
          <mat-icon>casino</mat-icon>
          <h3>Your bets</h3>
          <p>30,000$</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card class="money-card money-card--right" matRipple>
        <mat-card-content>
          <mat-icon>attach_money</mat-icon>
          <h3>Balance</h3>
          <p>120,000$</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <mat-button-toggle-group [(ngModel)]="thirdBet" class="col-12">
    <mat-button-toggle value="1st" class="col-4" aria-label="Text align left">
      1st 12
    </mat-button-toggle>
    <mat-button-toggle value="2nd" class="col-4" aria-label="Text align center">
      2nd 12
    </mat-button-toggle>
    <mat-button-toggle value="3rd" class="col-4" aria-label="Text align right">
      3rd 12
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group [(ngModel)]="halfBet" class="col-12">
    <mat-button-toggle value="1st" class="col-6" aria-label="Text align left">
      1-18
    </mat-button-toggle>
    <mat-button-toggle value="2nd" class="col-6" aria-label="Text align center">
      19-36
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group [(ngModel)]="numberBet" class="col-12">
    <mat-button-toggle value="even" class="col-4" aria-label="Text align left">
      Even
    </mat-button-toggle>
    <mat-button-toggle value="red" class="col-4" aria-label="Text align center">
      Red
    </mat-button-toggle>
    <mat-button-toggle value="black" class="col-4" aria-label="Text align right">
      Black
    </mat-button-toggle>
    <mat-button-toggle value="odd" class="col-4" aria-label="Text align right">
      Odd
    </mat-button-toggle>
  </mat-button-toggle-group>

  <button mat-stroked-button  (click)= "bet()"class="col-12 bet-button">
    Place my bet
  </button>
</section> -->
