<img class="col-es-4 col-8"src="assets/illustrations/undraw_interview.svg" loading="lazy" alt="Invest and grow with denov">
<section class="page-wrapper">
    <h1>Invest & grow with Denov</h1>
    <p class="body-1">Denov gives opportunity for anyone to purchase it's stock and grow with it. The stocks prices of Denov are evaluated if there are funding round occurs.
        The share price is affected by Denov daily performance based on it's daily earning and meeting it's long-term target will also positively affect it, however; if unexcepted
         events happened while can lead to losing cash or any legal issues the share price will be negatively affected. The price is updated daily with the total amount the company
          shares as well as the investors share.
    </p>
    <p class="body-1">Purchasing and selling shares must be after the acceptance of the board of investors, those who owns big amount of shares, or it will be determined by the chairman
        Miloslav Lavrent. A contract will list all them terms and conditions for dealing with your own shares. Issuing new shares will be taken place if the board of members request so of
         the chairman decide so, only and only if there is a clear and reasonable justification for that decision. The contracts for trading the stocks can only be performed through
         <strong>Denov contracts</strong> service.
    </p>
    <p class="body-1">
        The investors should be meeting weekly to decide the dividen share of the earning or to decide the money that will be need to funded into the company, the investors can only recieve
        their dividens through <strong>Denov Bank</strong> as the investors are required to own an <strong>active</strong> Denov banking account, to insure there isn't any money laundry
        involved with Denov operations.
    </p>
    <div class="col-6 col-s-12 col-es-4 price">
        <h3>Today's price</h3>
        <span class="price-value green">$ 21.20 <mat-icon class="green">trending_up</mat-icon></span>
        <span class="stock-amount">100,000 shares</span>
    </div>
    <h3>
        Share owners:
    </h3>

    <div class="row">
        <div class="col-4 col-s-6 col-es-12">
            <div class="content">
                <h5>Miloslav Lavrenty</h5>
                <span class="subtitle-1">75,000 Share</span>
                <span class="subtitle-1">Founder, Chairman</span>
                <span class="subtitle-1">Owns: 75%, worth: $1.59Million</span>
            </div>
        </div>
        <div class="col-4 col-s-6 col-es-12">
            <div class="content">
                <h5>Cambrias Qiao</h5>
                <span class="subtitle-1">25,000 Share</span>
                <span class="subtitle-1">CoFounder, CEO</span>
                <span class="subtitle-1">Owns: 25%, worth: $530Thousand</span>
            </div>
        </div>
    </div>
</section>
