<h3>Banking terms and Conditions</h3>
<p>
    The terms and conditions are wisely made to insure that both parties are
    being protected by the law and also to insure the fairness and prevents
    and abuse from any party to the other, therefore to subscribe or perform
    any banking service your have to consider the terms and condition and agree
    on them to be able to use our service.
</p>
<section>
        <p>These terms and conditions are applied during July and August, and not allowed to be before the end of July,
                and the client <strong>MUST</strong> have a copy of these terms and conditions. The bank <strong>MUST</strong>
                save a reference to the previously worked and issued terms and conditions.</p>
            <p>The terms and conditions are only located inside the red box, and any other text
                outside the boundry is not considered.
            </p>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Loan">
                    <ol>
                        <li>You must own assets worth 150% of the value of the loan and it's interest.</li>
                        <li>Every weekly/daily payment must be paid on it's due date, and you will have only 48 hours grace period.</li>
                        <li>The contract will be broken and the asset will be seized once you fail in paying two  daily/weekly payments.
                            and the paid amount is no considered nor refundable.
                        </li>
                        <li>You must sign on a mortgage contract in case you are applying on a mortgage loan, which it's limit might varies by the
                            time.
                        </li>
                        <li>You are subjected to the interest rates and loan limits you signed upon then, therefore any changes done to the
                            pricing plans won't be considered on a running loan, no matter if it's raised or lowered.
                        </li>
                        <li>Mortgage loan contract is considered as a selling contract to the the bank, incase you failed to payout the loan,
                            the asset will be seized without your permission as it legally owned by the bank.
                        </li>
                    </ol>
                </mat-tab>
                <mat-tab label="Saving">
                    <ol>
                        <li>Once you agree on the terms and conditions that are valid during the signture, you also agree on the
                            <a href="">fees</a> that are paid during that period, the only changes that would be applied that serves
                            fees only.
                        </li>
                        <li>
                            If the client decided to break the contracted period on his plan, he is subjected to pay the breaking fees and
                            the money will be deduced automatically from his account.
                        </li>
                        <li>
                            The interests are provided after the end of the contracted period, EX: if you signed Weekly plan it will be added
                            every week.
                        </li>
                        <li>You agree that you money will be hold incase of scamming report filed aganist you, and will be seized incase of proving so.</li>
                        <li>
                            The interests are calculated according to the lowest value in the account during every contracted period's cycle,
                            and will be reseted at the beginning of the new cycle.
                        </li>
                        <li>
                            If your plan have a condition that you will lose the interests that were added if you break the plan, it will be deduced
                            automatically.
                        </li>
                        <li>If your plan have a condition of deducing a percentage of the account incase of breaking, it will be deduced automatically.</li>
                        
                    </ol>
                </mat-tab>
                <mat-tab label="Wire Transfer">
                    <ol>
                        <li>We are not responsible if you have mistaken in wire Transfering to the wrong person. </li>
                        <li>We are not responsible if you have wire transfered the money for illegal purposes.</li>
                        <li>We will not return back scammed money, unless you provide us enough legal papers and evidence that 
                            prove your statement, if approved you will get back your get your balance back.
                        </li>
                        <li>You agree on paying the service fee.</li>
                        <li>We are not responsible if some one stole your phone/identity and were able to transfer money to himself, 
                            however you can report that, and money will be hold till the court say it's word.
                        </li>
                    </ol>
                    
                </mat-tab>
            </mat-tab-group>
</section>

