<h3>Banking terms and Conditions</h3>
<p>
    The terms and conditions are wisely made to insure that both parties are
    being protected by the law and also to insure the fairness and prevents
    and abuse from any party to the other, therefore to subscribe or perform
    any banking service your have to consider the terms and condition and agree
    on them to be able to use our service.
</p>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Loan">
        <ol>
            <li>Hello
            </li>
        </ol>
    </mat-tab>
    <mat-tab label="Saving"></mat-tab>
    <mat-tab label="Wire Transfer">
        
    </mat-tab>
</mat-tab-group>
