<section class="page-wrapper">
    <h2 >Search</h2>
    <form #target [formGroup]="searchGroupInput" (ngSubmit)="search()" >
        <mat-form-field   appearance="outline" class="col-12" (click)="scroll(target)">
            <mat-label>Search</mat-label>
            <mat-icon matSuffix (click)="search()">search</mat-icon>
          <input  matInput type="text" formControlName="searchInput" [(ngModel)]="searchValue" >
        </mat-form-field>
    </form>
    <div *ngIf="loading">
        <loading-spinner></loading-spinner>
    </div>
      <div *ngIf="error">
        Error :(
      </div>
    <div *ngIf="!loading">
        <h4>Search results:</h4>
        <div class="row">
            <div class="vehicle-card col-4 col-s-6 col-es-4" *ngFor="let vehicle of vehicles">
                <div class="vehicle-card-body mat-elevation-z3">
                    <picture class="vehicle-card-cover" loading="lazy">
                        <source srcset="https://api.denov.co/{{vehicle.img_url}}.webp" type="image/webp">
                        <img class="heading-img" src="https://api.denov.co/{{vehicle.img_url}}.jpg" alt="{{vehicle.name}} Vehicle image">
                      </picture>
                    <div class="vehicle-card-content">
                        <h6>{{vehicle.name | titlecase}}</h6>
                        <p>You can puchase {{vehicle.name| titlecase}} at <strong>{{vehicle.dealership}}</strong> for <strong>{{vehicle.retail_price | currency:'USD':'symbol-narrow':'1.0-0'}}</strong></p>
                        <button mat-stroked-button class="vehicle-card-button" [routerLink]="['/priceguide','detail',vehicle.id]">More details<mat-icon>arrow_right_alt</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="noresult">
            <img class="col-es-4 col-8 not-found-img" src="assets/illustrations/undraw_empty.svg" loading="lazy" alt="No results">
            <p class="not-found">Sorry, no results have been found.</p>
        </div>
    </div>
</section>