img{
    margin: 30px auto;
    display: block;
    max-height: 400px;
}
h1,h4{
    margin: 10px;
    text-align: center;
}
.job-title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.content{
    margin: 10px;
    background-color: #F0F0F9;

    padding: 10px;
}