<section>
        <h2>Denov Casino</h2>
        <p>
          Denov casino offers two of the most known casino games, roulette & blackjack.
          Since there isn't an actual casino in Los Santos, so now you can
          play with your friends online and you can withdraw and deposit using Denov bank, anytime
          and anywhere even if you are outside of Los Santos.
        </p>
</section>
<section>
  <h2>Roulette</h2>

  <h3>Tables</h3>

  <mat-list>
    <mat-list-item class="row list-item">
      <p class="col-8 col-es-2">500$ Bets</p>
      <button mat-raised-button class="watch-button col-2 col-es-1">Watch</button>
      <button mat-raised-button class="play-button col-2 col-es-1" [routerLink]="['/casino','roulette']">Play</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="row list-item">
      <p class="col-4">1000$ Bets</p>
      <button mat-raised-button class="watch-button col-4">Watch</button>
      <button mat-raised-button class="play-button col-4">Play</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="row list-item">
      <p class="col-4">2000$ Bets</p>
      <button mat-raised-button class="watch-button col-4">Watch</button>
      <button mat-raised-button class="play-button col-4">Play</button>
    </mat-list-item>
  </mat-list>

  <h3>How to play ?</h3>

  <h4>Joining a table</h4>
  <ol>
      <li>Choose your bet and then click play.</li>
      <li>Decide howmuch chips would you like to buy, and a bank transaction will occur.</li>
      <li>You will be directed to the table and you can start playing.</li>
  </ol>
  <h4>Playing on the table:</h4>
    <ol>
        <li>There are 3 types of bets, each of them gives a different winning multipler</li>
        <li>You can choose one of these types at max, which means you can choose between one to three bets.
            if you are one 1000$ table and choose 3 bets you will automatically place 3000$ chips.
        </li>
        <li>Once you click bet, you your balance will be reduced till the wheel spins, if you win you will recieve your winnings,
            also you must bet on time, else you will miss the spin.
        </li>
    </ol>
    <h4>The bets and winning multipler:</h4>
  
    <ul>
        <li>1st/2nd/3rd: x3 bet.</li>
        <li>1-18/19-36: x2 bet.</li>
        <li>Red/Black/Even/Odd: x2bet.</li>
    </ul>
</section>
<section>
        <h2>Blackjack</h2>

        <p>Coming soon.</p>
</section>
