li{
    padding: 5px 0px;
}
.watch-button, .play-button{
    margin: 0 5px;
}
.watch-button{
    background-color: #e4002b;
    color: white;
}
.play-button{
    background-color: #49a942;
    color: white;
}