<img class="col-es-4 col-8"src="assets/illustrations/undraw_contact_us.svg" loading="lazy" alt="Contact us">
<section class="page-wrapper">
    <h1>Contact us</h1>
    <p class="subhead">Do you have any concern ? We 'd love to hear from you.</p>
    <div class="row">
        <div class="col-6 col-es-4">
            <div class="content">
                <h4>Hotline</h4>
                <p>You can call us if you have questions or concerns regarding our services, or send an SMS for request or inquery.</p>
                <p class="hotline">69069</p>
            </div>
            
        </div>
        <div class="col-6 col-es-4">
            <div class="content">
                <h4>Visit us</h4>
                <p>We love you to visit during our working hours on our office to handle your request or answer your questions</p>
                
                <img src="assets/imgs/location-map.jpg" alt="Location of denv on map" class="map">
                <p>Office no.20,Red E. Office, Mazebank tower, Pillbox Hill, Los Santos, San Andreas</p>
            </div>
            
        </div>
    </div>
</section>