img{
    margin: 30px auto;
    display: block;
    max-height: 400px;
}
h1,h4{
    margin: 10px;
    text-align: center;
}
.subhead{
    text-align: center;
}
.hotline{
    font-size: 3em;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 200;
}
.map{
    width: 100%;
    object-fit: cover;
}
.content{
    padding: 20px;
    margin: 25px;
    background-color: #F0F0F9;
}