<h2>Login</h2>
<form [formGroup]="login" (ngSubmit)="onSubmit()" class="row">
    <mat-form-field class="col-12">
        <input matInput type="email" placeholder="Your E-mail" formControlName="email" required [email] ="true">
    </mat-form-field>
    <mat-form-field class="col-12">
        <input matInput type="password" placeholder="Passowrd" formControlName="password" required>
    </mat-form-field>
    <button mat-stroked-button type="submit" [disabled]="!login.valid">Login</button>
</form>