<img class="cover-img" src="../../../assets/imgs/torrence.webp" alt="">
<section class="page-wrapper">
    <h1>Vapid Torrence SSO</h1>
    <div>
        <p>
           <q>
            For those not letting the work go in the after hours, the Torrence is the perfect pick. Stripped of all the goodies so useful in a jam, it’s still got the spirit of oppression in it. And even though there ain’t much oppressing to do on the parking lot of a 24/7 or your favourite whorehouse, let it be known – this car can take more abuse than a pro-circuit boxer or your missus. And it’s gonna keep rolling – no matter what
           </q>
        </p>

        <h3>Pricing</h3>
        <div class="vehicle-detail-list">
            <span class="vehicle-detail-item"><b>Retail price</b> $60,000</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Registeration cost</b> $12,000</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Total dealership price</b> $72,000</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Insurance*</b> $1,200</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Suggested Used Price</b>* $36,000 - $48,000</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Lease Price</b> $3000</span>
        </div>

        <h3>Specification</h3>
        <div class="vehicle-detail-list">
            
            <span class="vehicle-detail-item"><b>Brand</b> Vapid</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Vehicle class</b> Sedan</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Body type</b> 4-door luxury Sedan</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Inventory</b> 40 Kilograms</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Passenger capactiy</b> 4</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Engine Type</b> Fuel</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Drive train</b> FWD</span>
        </div>

        <h3>Upgrades pricing</h3>
        <div class="vehicle-detail-list">
            
            <span class="vehicle-detail-item"><b>Repair vehicle</b> $500</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Clean Vehicle</b> $500</span>
        </div>
    </div>
    <p><i>*The Insurance price are subjected to change, and also they aren't 100% accurate we are working to make sure of them. </i></p>
    <p><i>*The suggested price is calculated according to 60% - 80% of the vehicle's retail price</i></p>
</section>
