<img class="cover-img" src="../../../assets/imgs/torrence.webp" alt="">
<section class="page-wrapper">
    <h1>Torrence</h1>
    <div>
        <p>
            Sophisticated, superior, class-obsessed and with more than a little aggression under the hood, this grand tourer from Dewbauchee is as classically British as they come
        </p>

        <h3>Pricing</h3>
        <div class="vehicle-detail-list">
            <span class="vehicle-detail-item"><b>Retail price</b> $60,000</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Registeration cost</b> $12,000</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Total dealership price</b> $72,000</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Insurance*</b> $1,200</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Suggested Used Price</b>* $36,000 - $48,000</span>
        </div>
        <!-- <mat-card>
            <mat-card-content>
                <mat-list>
                    <mat-list-item matRipple>
                        Suggested Used Price: $36,000 - $48,000
                    </mat-list-item>
                    
                    <mat-list-item matRipple>
                        Retail price: $60,000
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item matRipple>
                        Registeration cost: $12,000
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item matRipple>
                        Total dealership price: $72,000
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item matRipple>
                        Insurance: $1,200
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card> -->
    </div>
    <p><i>*The Insurance price are subjected to change, and also they aren't 100% accurate we are working to make sure of them. </i></p>
    <p><i>*The suggested price is calculated according to 60% - 80% of the vehicle's retail price</i></p>
</section>
