<img src="../../../assets/imgs/torrence.webp" alt="">
<h2>Torrence</h2>
<div>
    <mat-card>
        <mat-card-content>
            <mat-list>
                <mat-list-item matRipple>
                    Suggested Price: 42k
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item matRipple>
                    Retail price: 60K
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item matRipple>
                    Registeration cost: 12k
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item matRipple>
                    Total dealership price: 72k
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
<p>The suggested price is calculated according to 70% of the vehicle's retail price</p>