<div *ngIf="loading">
    <loading-spinner></loading-spinner>
  </div>
  <div *ngIf="error">
    Error :(
  </div>
<picture *ngIf="!loading" class="cover-img">
    <source srcset="https://api.denov.co/{{vehicle.img_url}}.webp" type="image/webp">
    <img class="heading-img" src="https://api.denov.co/{{vehicle.img_url}}.jpg" alt="{{vehicle.name}} Vehicle image">
  </picture>
<section *ngIf="!loading" class="page-wrapper">
    <h1>{{vehicle.name | titlecase}}</h1>
    <div>

        <h3>Pricing</h3>
        <div class="vehicle-detail-list">
            <span class="vehicle-detail-item"><b>Retail price</b> {{vehicle.retail_price | currency:'USD':'symbol-narrow':'1.0-0'}}</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Registeration cost</b>* {{vehicle.registeration_cost | currency:'USD':'symbol-narrow':'1.0-0'}}</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Total dealership price</b>* {{vehicle.dealership_price | currency:'USD':'symbol-narrow':'1.0-0'}}</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Insurance</b> {{vehicle.insurance_price | currency:'USD':'symbol-narrow':'1.0-0'}}</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Suggested Used Stock Price</b>* {{vehicle.minimum_price | currency:'USD':'symbol-narrow':'1.0-0'}} - {{vehicle.maximum_price | currency:'USD':'symbol-narrow':'1.0-0'}}</span>
        </div>
        <p>Still confused about the vehicle price ? check Denov's priceguide calculator which can help you to determine the value of the new and used vehicle, including the 
            after-market parts.
        </p>
        <button mat-stroked-button class="vehicle-card-button" [routerLink]="['/priceguide','calculator']">Priceguide Calculator <mat-icon>calculate</mat-icon></button>
        <p><i>**The dealerships currently sell the vehicles for it's retail price, the registeration cost is free.</i></p>
        <p><i>*The suggested price is calculated according to 60% - 80% of the vehicle's retail price</i></p>
        

        <h3>Specification</h3>
        <div class="vehicle-detail-list">
            

            <span class="vehicle-detail-item"><b>Vehicle class</b> {{vehicle.vehicle_class | titlecase}}</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Inventory</b> {{vehicle.inventory | titlecase}}</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Passenger capactiy</b> {{vehicle.passenger_capacity}}</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Drive train</b> {{vehicle.drive_train | titlecase}}</span>
            <mat-divider></mat-divider>
            <span class="vehicle-detail-item"><b>Dealership</b> {{vehicle.dealership | titlecase}}</span>
        </div>

        <h3>Maintenance Schedule</h3>
        <table mat-table #table [dataSource]="maintance">
            <ng-container matColumnDef="mileage">
            <th mat-header-cell *matHeaderCellDef>Mileage</th>
            <td mat-cell *matCellDef="let row"> {{row.mileage}} </td>
            </ng-container>
            <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef>Cost</th>
            <td mat-cell *matCellDef="let row"> {{row.cost | currency:'USD':'symbol-narrow':'1.0-0'}} </td>
            </ng-container>
            <ng-container matColumnDef="accumulativeCost">
                <th mat-header-cell *matHeaderCellDef>Accum. cost</th>
                <td mat-cell *matCellDef="let row"> {{row.accumulativeCost | currency:'USD':'symbol-narrow':'1.0-0'}} </td>
                </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <h3>Upgrades pricing</h3>
        <p><i>Denov highly recommends upgrading your vehicle at <b>Auto Exotics</b> and special thanks to <b>Zack McAdams</b> and <b>Hiroshi Nakazato</b> for their help
            in collecting the upgrades prices.
        </i></p>
        <div class="vehicle-detail-list" *ngFor="let upgrade of upgrades">
            <div>
                <span class="vehicle-detail-item"><b>{{upgrade.name}}</b> {{upgrade.price | currency:'USD':'symbol-narrow':'1.0-0'}}</span>
                <mat-divider></mat-divider>
            </div>
            
        </div>
    </div>
</section>
