
.home-head-section{
    background-color: #F0F0F9;
}
.home-head-section .row{
    max-width: 1200px;
    margin: auto;
}
.home-head-text > p,h1{
    color:#2D3139;
    padding: 0 16px;
    width:80%;
}
.home-head-text h1{
    font-weight: 200;
    font-size: 50px;
}
.home-head-text p{
    font-size: 18px;
}
.home-head-img img{
    width: 100%;
    align-content: center;
}
@media only screen and (max-width: 500px) {
    .home-head-text{
        order: 2;
    }
    .home-head-text h1{
        font-size: 30px;
    }
}
.heading-img--container{
    height: 30vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
@media only screen and (min-width: 601px){
    .heading-img--container{
        height: 45vh;
    }
   
}
.heading-text{
    height: 100%;
    width: 100%;
    position: relative;
}
.heading-main{
    margin: 0;
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
}
.heading-secondry{
    color: white;
    text-align: center;
    font-size: 18px;   
    color: white;
    font-family: Satisfy;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 65%;
    transform: translateX(-50%) translateY(-50%);
}
section{
    padding: 5px 0px;
}
section h3{
    font-family: Satisfy;
    font-weight: bold;
    color: tomato;
    font-size: 20px;
}
section p span{
    font-family: Satisfy;
    font-weight: bold;
    font-size: 18px;
}
.scrollable-container{
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
@media only screen and (min-width: 601px){
    .scrollable-container{
        overflow-x: scroll;
    }
   
}
.scrollable-content{
    width: 2000px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    padding: 16px 0px;
}
.scrollable-element{
    width: 210px;
    margin-left: 10px;
    padding: 15px;
    display: inline-block;
}

.scrollable-element--icon{
    font-size: 80px;
    text-align: center;
    width: 80px;
    height: 80px;
    margin: auto;
    display: block;
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.scrollable-element--title{
    font-family: Satisfy;
    color: #fa824c;
    margin: 0px 8px;
    font-size: 20px;
    text-align: center;
}
.scrollable-element--text{
    text-align: center !important;
}