<meta name="Description" content="Home page shows a brief knowledge about the company and it's history">
<section class="home-head-section">
  <div class="row">
    <div class="home-head-text col-6 col-es-4 col-s-12">
      <h1>Live with the best & the only Digital experience in San Andreas</h1>
      <p>With a single account you would be able to make tens of online
        transaction, and access lots of online features that aren't existing anywhere but
        here, you can open unlimited bank accounts, mine CryptoCurrency and spend them on Ads
        for your assets,gambling, or even transfering anytime without being on the city !</p>
    </div>
      <img loading="lazy" class="home-head-img col-6 col-es-4 col-s-12"src="assets/illustrations/undraw_digital_nomad.svg" alt="Going digital around San Andreas">

  </div>
</section>


<section class="services">
  <h1>Wide range of services</h1>
  <div class="row">
    <div class="col-6 col-es-4 col-s-12">
      <img src="assets/illustrations/undraw-banking.svg" loading="lazy" alt="Saving money">
    </div>
    <div class="col-6 col-es-4 col-s-12">
      <h2 class="">Banking</h2>
      <p class="">Loaning, Gaining Interesting, Wiretransfers To Anyone, Anytime Even If You Are Out Of The City !</p>
    </div>
    
  </div>
  <div class="row">
    
    <div class="col-6 col-es-4 col-s-12 right">
      <img src="assets/illustrations/undraw_marketplace.svg" loading="lazy" alt="Shopping online">
    </div>
    
    <div class="col-6 col-es-4 col-s-12">
      <h2 class="">Marketplace</h2>
      <p class="">Sell And Buy Vehicles, Businesses, Homes And Even D- Currency After You Mine It.</p>
    </div>
    
  </div>

  <div class="row">
    
    <div class="col-6 col-es-4 col-s-12">
      <img src="assets/illustrations/undraw_priceguide.svg" loading="lazy" alt="Online price guide">
    </div>
    <div class="col-6 col-es-4 col-s-12 ">
      <h2 class="">Price Guide</h2>
      <p class="">Buying A Vehicle Is Confusing As Your Have To Go The Dealership To Check The Prices, We Provide You A Pocket Price Guide To Make Your Life Easy.</p>
    </div>
    
  </div>

  <div class="row">

    <div class="col-6 col-es-4 col-s-12 right">
      <img src="assets/illustrations/undraw_trucking.svg" loading="lazy" alt="Shipping boxes">
    </div>
    <div class="col-6 col-es-4 col-s-12">
      <h2 class="">Trucking</h2>
      <p class="">Making Shipment Requests, Getting Bonus As Trucker Is Made Easy, With Best Pricing & Comissioons Around The City.Ons Around The City.</p>
    </div>
    
  </div>

  <div class="row">

    <div class="col-6 col-es-4 col-s-12">
      <img src="assets/illustrations/undraw_security.svg" loading="lazy" alt="Secruity checked">
    </div>
    <div class="col-6 col-es-4 col-s-12">
      <h2 class="">Security</h2>
      <p class="">Use D- Crypto Currency If You Want All Your Financial Transaction Secret And Untraceable From The Government, Or Scam Protection With Denov Bank.</p>
    </div>
    
  </div>

  <div class="row">

    <div class="col-6 col-es-4 col-s-12 right">
      <img src="assets/illustrations/undraw_digital_currency.svg" loading="lazy" alt="Crypto-currency world">
    </div>
    <div class="col-6 col-es-4 col-s-12">
      <h2 class="">Crypto-Currency</h2>
      <p class="">Want To Mine Your Own D- Currency ? We Sell Mining ASIC And Enjoy Access All Denov Services With D- Beside Dollar, And Even For Better Values.</p>
    </div>
    
  </div>

  <div class="row">

    <div class="col-6 col-es-4 col-s-12">
      <img src="assets/illustrations/undraw_employee.svg" loading="lazy" alt="employees working together">
    </div>
    <div class="col-6 col-es-4 col-s-12">
      <h2 class="">Employee Management</h2>
      <p class="">Post Jobs For Your Business To Easily Manage Recruitments And Arrange Interviews Or Apply For A Job.</p>
    </div>
    
  </div>

  <div class="row">

    <div class="col-6 col-es-4 col-s-12 right ">
      <img src="assets/illustrations/undraw_casino.svg" loading="lazy" alt="Playing cards">
    </div>
    <div class="col-6 col-es-4 col-s-12">
      <h2 class="">Casino</h2>
      <p class="">The Only And First Casino In Los Santos, Just Log With Your Phone And Start Playing With Your Friends For Real Cash, Even Outside Of The City.</p>
    </div>
    
  </div>
</section>

