

.home-head-section .row{
    max-width: 1200px;
    margin: auto;
}
.home-head-text > p,h1{
    padding: 0 16px;
}

.home-head-img img{
    width: 100%;
    align-content: center;
}
.right{
    order: 1;
}
@media only screen and (max-width: 900px) {
    .home-head-text{
        order: 2;
    }
    .right{
        order: 0;
    }
}
.services{
    max-width: 1200px;
    margin: auto;
    h1,h2{
        text-align: center;
    }
    h1{
        margin: 30px auto;
    }
    h2{
        margin: 20px auto;
    }
    div{
        margin: 40px 0;
    }
    div div{
        text-align: center;
        margin: auto 0;
        p{
            width: 60%;
            margin: auto;
        }
        img{
            width: 80%;
            margin: auto;
        }
    }
}





