<meta name="Description" content="Home page shows a brief knowledge about the company and it's history">
<section class="home-head-section">
  <div class="row">
    <div class="home-head-text col-6 col-es-4">
      <h1>Live with the best & the only Digital experience in San Andreas</h1>
      <p>With a single account you would be able to make tens of online
        transaction, and access lots of online features that aren't existing anywhere but
        here, you can open unlimited bank accounts, mine CryptoCurrency and spend them on Ads
        for your assets,gambling, or even transfering anytime without being on the city !</p>
    </div>
      <img class="home-head-img col-6 col-es-4"src="assets/illustrations/undraw_digital_nomad.svg" alt="Going digital around San Andreas">

  </div>
</section>


<section class="brief-intro">
  <h3>Who are we ?</h3>
  <p><span>D</span>enov is a tech company that provides many digital solutions to Los Santos to make every
    day problems easier. we are more making the distance short for those who wants to sell their
    businesses/houses/vehicles and for those who are hiring and looking for a job, or making your
    trucking job more easy.
  </p>
  <p><span>W</span>e also are looking to provide more service to Los Santos as CryptoCurrency that you can mine,
    Online bank in your pocket that you can let you gain interests or take out loans, while being able
    to gamble online.
  </p>
</section>
<section>
  <h3>Power of Denov</h3>
  <p><span>W</span>ith a single account you would be able to make tens of online
    transaction, and access lots of online features that aren't existing anywhere but
    here, you can open unlimited bank accounts, mine CryptoCurrency and spend them on Ads
    for your assets,gambling, or even transfering anytime without being on the city !</p>
</section>
