<mat-toolbar>
  <mat-toolbar-row>
      <button mat-icon-button *ngIf="this.router.url == '/home'" (click)="sideNavigationToggle()" aria-label="Side Menu toggle"><mat-icon [svgIcon]="sideNav.isOpened() ? 'close' : 'burger-menu'"  role="button"></mat-icon></button>
      <button mat-icon-button *ngIf="this.router.url != '/home'"(click)="goBack()" aria-label="Return Back"><mat-icon role="button">keyboard_backspace</mat-icon></button>
      
    <span class="brand-logo">Denov</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="action-button" aria-label="myDenov account menu">
            <mat-icon>account_circle</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="!isAuth" [routerLink]="['/register']">
              <mat-icon>person_add</mat-icon>
              <span>Sign Up</span>
            </button>
            <button mat-menu-item (click)="openLoginDialog()" *ngIf="!isAuth">
                <mat-icon>launch</mat-icon>
                <span>Sign In</span>
            </button>
            <button mat-menu-item  *ngIf="isAuth">
              <mat-icon>perm_identity</mat-icon>
              <span>MyDenov</span>
            </button>
            <button mat-menu-item (click)="logout()" *ngIf="isAuth">
              <mat-icon>exit_to_app</mat-icon>
              <span>Log Out</span>
            </button>
            
          </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>


<app-side-nav><ng-content></ng-content></app-side-nav>

<nav id="bottomNavBar" role="navigation">
    <button mat-button routerLink="banking" class="bottomNavElm active"><mat-icon>account_balance_wallet</mat-icon><div>Bank</div></button>
    <button mat-button class="bottomNavElm"><mat-icon>storefront</mat-icon>  <div>Market</div></button>
    <button mat-button routerLink="casino" class="bottomNavElm"><mat-icon>casino</mat-icon><div>Gamble</div></button>
    <button mat-button class="bottomNavElm"><mat-icon>local_shipping</mat-icon><div>Trucking</div></button>
    <button mat-button class="bottomNavElm"><mat-icon>business_center</mat-icon><div>Office</div></button>
</nav>
