.brand-logo{
    color: #4F4E6C;
    font-weight: 500;
    font-size: 24px;


    margin: 6px 0px 0px 10px;
    letter-spacing: 5px;
    text-transform: uppercase;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.brand-logo span{
    color: red;
    font-size: 20px;
}
mat-toolbar{
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #F0F0F9;
}
.action-button{
    margin-left: auto;
}
.mat-icon-button .mat-icon, .mat-icon-button i{
    font-size: 32px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #4F4E6C;
}
mat-sidenav{
    position: fixed;
    margin-top: 64px;
    width: 250px;
    z-index: 3;
}
.page-content{
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    
    min-height: calc(100vh - 144px);
}
@media only screen and (max-width: 600px){
    .page-content{
        margin-top: 56px;
        margin-bottom: 56px;
    }
    mat-sidenav{
        margin-top: 56px;
        margin-bottom: 56px;
    }
    .brand-logo{
        font-size: 19px;
    }
}
mat-toolbar-row button:last-of-type{
    margin-left: 10px;
}
mat-toolbar-row button:nth-of-type(2){
    margin-left: auto;
}

.mat-line{
    font-size: 14px !important;
}
.mat-subheader{
    color:#fa824c;
}
.nav-bar__item {
    justify-self: flex-start;
    margin-left: 15px;
}
mat-list-item.disabled{
    cursor: not-allowed !important;
    opacity: 0.5;
    text-decoration: none;
}
.soon-badge, .vsoon-badge{
    color: white;
    background-color: red;
    border-radius: 2px;
    display: block;
    padding: 5px;
    text-transform: uppercase;
}
.vsoon-badge{
    background-color: green;
}
.nav-bar--item-gray {
    color: #575757;
}

.nav-bar__title {
    color: #436885;
    font-size: 22px;
    font-weight: 600;
    justify-content: center;
    margin: 0px 20px;
    text-align: center;
}
#bottomNavBar {
    width: 100vw;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    background-color: #F0F0F9;
    z-index: 1;
}

@media only screen and (min-width: 601px){
    #bottomNavBar{
        display: none;
    }
    .page-content{
        min-height: calc(100vh - 96px);
    }
}

.bottomNavElm {
    color: #4F4E6C;
    background-color: transparent;
}
.bottomNavElm div{
    font-weight: 100;
    line-height: 12px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.active {
    color: #5C68BD;
}

.bottom-nav-logo{
    font-weight: bold;
    font-size: 16px;
}
