.brand-logo{
    color: #fa824c;
    font-weight: bold;
    font-size: 40px;
    font-family: Satisfy, 'Times New Roman', Times, serif;

    margin: 6px 0px 0px 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.brand-logo span{
    color: red;
    font-size: 20px;
}
mat-toolbar{
    position: fixed;
    top: 0;
    z-index: 2;
}
.action-button{
    margin-left: auto;
}
mat-sidenav{
    position: fixed;
    margin-top: 64px;
    width: 250px;
    z-index: 3;
}
.page-content{
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    max-width: 1200px;
    min-height: calc(100vh - 144px);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media only screen and (max-width: 600px){
    .page-content{
        margin-top: 56px;
        margin-bottom: 56px;
    }
    mat-sidenav{
        margin-top: 56px;
        margin-bottom: 56px;
    }
    .brand-logo{
        font-size: 25px;
    }
}
mat-toolbar-row button:last-of-type{
    margin-left: 10px;
}
mat-toolbar-row button:nth-of-type(2){
    margin-left: auto;
}
.install-button{
    border-radius: 20px;
    width: 80px;
    border: 2px solid #fa824c;
    color: #fa824c;
    size: 24px;
}
.mat-line{
    font-size: 14px !important;
}
.mat-subheader{
    color:#fa824c;
}
.nav-bar__item {
    justify-self: flex-start;
    margin-left: 15px;
}
mat-list-item.disabled{
    cursor: not-allowed !important;
    opacity: 0.5;
    text-decoration: none;
}
.soon-badge, .vsoon-badge{
    color: white;
    background-color: red;
    border-radius: 2px;
    display: block;
    padding: 5px;
    text-transform: uppercase;
}
.vsoon-badge{
    background-color: green;
}
.nav-bar--item-gray {
    color: #575757;
}

.nav-bar__title {
    color: #436885;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Tenor sans', sans-serif;
    justify-content: center;
    margin: 0px 20px;
    text-align: center;
}
#bottomNavBar {
    width: 100vw;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    bottom: 0;
    background-color: white;
    z-index: 1;
}

@media only screen and (min-width: 601px){
    #bottomNavBar{
        display: none;
    }
    .page-content{
        min-height: calc(100vh - 96px);
    }
}

.bottomNavElm {
    color: #575757;
}
.bottomNavElm div{
    font-weight: 100;
    line-height: 12px;
    font-size: 12px;
}

.active {
    color: #fa824c;
}

.bottom-nav-logo{
    font-family: Satisfy;
    font-weight: bold;
    font-size: 16px;
}
