.brand-logo{
    color: #fa824c;
    font-weight: bold;
    font-size: 40px;
    font-family: Satisfy, 'Times New Roman', Times, serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
mat-toolbar{
    position: fixed;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
    top: 0;
    z-index: 2;
}
mat-sidenav{
    position: fixed;
    margin-top: 64px;
    width: 250px;
    z-index: 3;
    margin-bottom: 56px;
}
.mat-line{
    font-size: 14px !important;
}
.mat-subheader{
    color:#fa824c;
}
.nav-bar__item {
    justify-self: flex-start;
    margin-left: 15px;
}
mat-list-item.disabled{
    cursor: not-allowed !important;
    opacity: 0.5;
    text-decoration: none;
}
.soon-badge, .vsoon-badge{
    color: white;
    background-color: red;
    border-radius: 2px;
    display: block;
    padding: 5px;
    text-transform: uppercase;
}
.vsoon-badge{
    background-color: green;
}
.nav-bar--item-gray {
    color: #575757;
}

.nav-bar__title {
    color: #436885;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Tenor sans', sans-serif;
    justify-content: center;
    margin: 0px 20px;
    text-align: center;
}