<mat-toolbar>
  <mat-toolbar-row>
      <button mat-icon-button *ngIf="this.router.url == '/home'" (click)="snav.toggle()" aria-label="Side Menu toggle"><mat-icon [svgIcon]="snav.opened ? 'close' : 'menu'"  role="button"></mat-icon></button>
      <button mat-icon-button *ngIf="this.router.url != '/home'"(click)="goBack()" aria-label="Return Back"><mat-icon role="button">keyboard_backspace</mat-icon></button>
      
    <span class="brand-logo">Denov.Co</span>
    <button mat-icon-button *ngIf="!isInstalled"class="install-button" (click)="openInstallDialog()" aria-label="install">Install<mat-icon role="button">vertical_align_bottom</mat-icon></button>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="action-button" aria-label="myDenov account menu">
            <mat-icon>account_circle</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="!isAuth" [routerLink]="['/register']">
              <mat-icon>person_add</mat-icon>
              <span>Sign Up</span>
            </button>
            <button mat-menu-item (click)="openLoginDialog()" *ngIf="!isAuth">
                <mat-icon>launch</mat-icon>
                <span>Sign In</span>
            </button>
            <button mat-menu-item  *ngIf="isAuth">
              <mat-icon>perm_identity</mat-icon>
              <span>MyDenov</span>
            </button>
            <button mat-menu-item (click)="logout()" *ngIf="isAuth">
              <mat-icon>exit_to_app</mat-icon>
              <span>Log Out</span>
            </button>
            
          </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container" hasBackdrop="false">
  <mat-sidenav #snav mode="over">
    <mat-nav-list>

      <mat-list>

        <mat-list-item  [routerLink]="['/home','']">
          <mat-icon mat-list-icon>home</mat-icon>
          <h4 mat-line>Home</h4>
        </mat-list-item>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>store</mat-icon>
          <h4 mat-line>Purchase D-Currency</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>
        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>verified_user</mat-icon>
          <h4 mat-line>Mine D-Currency</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>
        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>show_chart</mat-icon>
          <h4 mat-line>Invest in Denov</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list>
        <h3 mat-subheader>Denov E-Services</h3>

        <mat-list-item [routerLink]="['/news']">
            <mat-icon mat-list-icon>local_libraryk</mat-icon>
            <h4 mat-line>News</h4>
          </mat-list-item>

        <mat-list-item [routerLink]="['/vehicle']">
          <mat-icon mat-list-icon>book</mat-icon>
          <h4 mat-line>Vehicle price guide</h4>
        </mat-list-item>

        <mat-list-item [routerLink]="['/casino']">
          <mat-icon mat-list-icon>casino</mat-icon>
          <h4 mat-line >Gambling</h4>
        </mat-list-item>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>business_center</mat-icon>
          <h4 mat-line>Jobs Center</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>


      <mat-list >
        <h3 mat-subheader>Denov Bank</h3>
        <mat-list-item [routerLink]="['/banking','plans']" >
          <mat-icon mat-list-icon>
            assignment</mat-icon>
          <h4 mat-line >Saving & Loan Plans</h4>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
          <h4 mat-line>Open account</h4>
        </mat-list-item>

        <mat-list-item >
          <mat-icon mat-list-icon>account_balance</mat-icon>
          <h4 mat-line>Request Loan</h4>
        </mat-list-item>

        <mat-list-item  [routerLink]="['/banking','wire-transfer']">
          <mat-icon mat-list-icon>
            input</mat-icon>
          <h4 mat-line>Wire Tranfer</h4>
        </mat-list-item>

        <mat-list-item [routerLink]="['/banking','terms-conditions']">
          <mat-icon mat-list-icon >
            list_alt</mat-icon>
          <h4 mat-line>Banking Terms & Condition</h4>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list>
        <h3 mat-subheader>Denov Market</h3>
        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>
            monetization_on
          </mat-icon>
          <h4 mat-line>
            Sell your asset
          </h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>
            shopping_cart
          </mat-icon>
          <h4 mat-line>
            Assets forsale
          </h4>
          <span class="soon-badge">soon</span>

        </mat-list-item>

        
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list>
        <h3 mat-subheader>Denov Trucking</h3>
        

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>local_shipping</mat-icon>
          <h4 mat-line>Request a shipment</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>payment</mat-icon>
          <h4 mat-line>Bonus request</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>

        <mat-list-item class="disabled" disableRipple>
          <mat-icon mat-list-icon>description</mat-icon>
          <h4 mat-line>Trucker Application</h4>
          <span class="soon-badge">soon</span>
        </mat-list-item>
        
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>info</mat-icon>
          <h4 mat-line>About Us</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>phone</mat-icon>
          <h4 mat-line>Contact Us</h4>
        </mat-list-item>
      </mat-list>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="page-content">
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>

<nav id="bottomNavBar" role="navigation">
    <button mat-button routerLink="./banking" class="bottomNavElm active"><mat-icon>account_balance</mat-icon><div>Bank</div></button>
    <button mat-button routerLink="./casino" class="bottomNavElm"><mat-icon>casino</mat-icon><div>Gamble</div></button>
    <button mat-button class="bottomNavElm"><mat-icon>shopping_basket</mat-icon>  <div>Market</div></button>
    <button mat-button class="bottomNavElm"><mat-icon>local_shipping</mat-icon><div>Trucking</div></button>
    <button mat-button class="bottomNavElm"><mat-icon>money</mat-icon><div>D-Currency</div></button>
</nav>
