
mat-card:first-of-type{
    margin-bottom: 10px;
}
mat-form-field{
    display: block;
}
button{
    width: 100%;
    padding: 5px;
    border-radius: 0;
}
table{
    width: 100%;
}
.mat-card{
    border-radius: 0;
    box-shadow: none;
}

