
  <div *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="error">
    Error :(
  </div>
<section class="page-wrapper">
  <h2>{{class | titlecase}}</h2>
  <div class="row">
    <div class="vehicle-card col-4 col-s-6 col-es-4" *ngFor="let vehicle of vehicles">
        
        <div class="vehicle-card-body ">
            <img class="vehicle-card-cover" src="https://api.denov.co/{{vehicle.img_url}}" alt="{{vehicle.name}} Vehicle image" loading="lazy">
            <div class="vehicle-card-content">
                <h6>{{vehicle.name | titlecase}}</h6>
                <p>You can puchase {{vehicle.name| titlecase}} at <strong>{{vehicle.dealership}}</strong> for <strong>${{vehicle.retail_price}}</strong></p>
                <button mat-stroked-button class="vehicle-card-button" [routerLink]="['/vehicle','detail',vehicle.id]">More details<mat-icon>arrow_right_alt</mat-icon></button>
            </div>
            
        </div>

  </div>
</div>
</section>