
  <div *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="error">
    Error :(
  </div>
<section class="page-wrapper">
  <h2>{{class | titlecase}}</h2>
  <div class="row">
    <div class="vehicle-card col-4 col-s-6 col-es-4" *ngFor="let vehicle of vehicles">
        
        <div class="vehicle-card-body ">
            <picture class="vehicle-card-cover" loading="lazy">
              <source srcset="https://api.denov.co/{{vehicle.img_url}}.webp" type="image/webp">
              <img class="heading-img" src="https://api.denov.co/{{vehicle.img_url}}.jpg" alt="{{vehicle.name}} Vehicle image">
            </picture>
            <div class="vehicle-card-content">
                <h6>{{vehicle.name | titlecase}}</h6>
                <p>You can puchase {{vehicle.name| titlecase}} at <strong>{{vehicle.dealership}}</strong> for <strong>{{vehicle.retail_price | currency:'USD':'symbol-narrow':'1.0-0'}}</strong></p>
                <button mat-stroked-button class="vehicle-card-button" [routerLink]="['/priceguide','detail',vehicle.id]">More details<mat-icon>arrow_right_alt</mat-icon></button>
            </div>
            
        </div>

  </div>
</div>
</section>