/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { 
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

@function mat-light-theme-foreground($color) {
    @return (
        base:              $color,
        divider:           $black-12-opacity,
        dividers:          $black-12-opacity,
        disabled:          rgba($color, 0.38),
        disabled-button:   rgba($color, 0.38),
        disabled-text:     rgba($color, 0.38),
        hint-text:         rgba($color, 0.38),
        secondary-text:    rgba($color, 0.54),
        icon:              rgba($color, 0.54),
        icons:             rgba($color, 0.54),
        text:              rgba($color, 0.87),
        slider-off:        rgba($color, 0.26),
        slider-off-active: rgba($color, 0.38),
    );
};

// You can put any color here. I've chosen mat-color($my-app-primary, 700)



@import '~@angular/material/theming';

    $primary: mat-palette($mat-blue-grey,400);
    $warn: mat-palette($mat-red,500);
    $custom-typography: mat-typography-config($font-family: '"Montserrat", sans-serif;');
    $foreground: mat-light-theme-foreground(mat-color($mat-grey,800));

    $theme: mat-light-theme($primary,$warn);
    $theme-custom: map-merge($theme,(foreground: $foreground));

@include angular-material-theme($theme-custom);
@include mat-core($custom-typography);




/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #78849E; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4F4E6C; 
  }
/* ---------------------------------------------------------------------- */
/* ----------------------Responsive Grid-------------------------------- */
/* ------------------------------------------------------------------- */
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
.col-offset-1 {
    margin-left: 8.33%;
}
.col-offset-2 {
    margin-left: 16.66%;
}
.col-offset-4{
    margin-left: 33.33%;
}
.col-offset-6{
    margin-left: 50%;
}
.col-offset-7{
    margin-left: 58.33%;
}
.col-offset-8{
    margin-left: 66.66%;
}
.col-offset-9{
    margin-left: 75%;
}
.col-offset-11{
    margin-left: 91.66%;
}
.col-offset-12{
    margin-left: 100%;
}
@media only screen and (max-width: 500px) {
    .col-es-1 {
        width: 25%;
    }
    .col-es-2 {
        width: 50%;
    }
    .col-es-3 {
        width: 75%;
    }
    .col-es-4 {
        width: 100%;
    }
    .col-offset-es-0{
        margin: 0;
    }
    .col-offset-es-1 {
        margin-left: 25%;
    }
    .col-offset-es-2 {
        margin-left: 50%;
    }
    .col-offset-es-3 {
        margin-left: 75%;
    }
    .col-offset-es-4 {
        margin-left: 100%;
    }
    #pageContent {
        padding: 16px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 900px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    .col-offset-s-3{
        margin-left: 25%;
    }
    .col-offset-s-4{
        margin-left: 33.33%;
    }
    .col-offset-s-6{
        margin-left: 50%;
    }
    .col-offset-s-8{
        margin-left: 66.66%;
    }
    .col-offset-s-12{
        margin-left: 100%;
    }
}

.row {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.page-wrapper{
    padding: 12px;
    max-width: 1200px;
    margin: 0 auto;
}

snack-bar-container{
    margin-bottom: 64px !important;
}
.mat-icon{
    color: #4F4E6C;
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: red;
}
@media only screen and (max-width: 500px) {
}
h1{
    font-weight: 200;
    font-size: 4.5rem;
    letter-spacing: -1.5px;
}
h2{
    font-weight: 200;
    font-size: 3.75rem;
    letter-spacing: -0.5px;
}
h3{
    font-weight: 400;
    font-size: 3em;
    letter-spacing: 0px;
}
h4{
    font-weight: 400;
    font-size: 2.125rem;
    letter-spacing: 0.25px;
}
h5{
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0px;
}
h6{
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 0.15px;
}
.subhead{
    font-size: 1.375rem
}
.subtitle-1{
    font-weight: 400;
    letter-spacing: 0.15px;
    font-size: 1rem;
}   
.subtitle-2{
    font-weight: 500;
    letter-spacing: 0.1px;
    font-size: 0.875rem;
}
.body-1{
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 1rem;
}
.body-2{
    font-weight: 400;
    letter-spacing: 0.25px;
    font-size: 0.875rem;
}
.button{
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-size: 0.875rem;
}
.caption{
    font-weight: 400;
    letter-spacing: 0.4px;
    font-size: 0.75rem;
}
.overline{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.625rem;
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 3.0em;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 2em;
    }
    h4{
        font-size: 1.75em;
    }

}